<h2>About Super Rentals</h2>

<<<<<<< HEAD
<p>The Super Rentals website was created to explore the wonderful world of Ember.js. This project allows us to imagine traveling the world while simultaneously traversing the pathways of the Ember framework!</p>

{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'contact'}}Click here to contact us{{/link-to}}
=======
<p>The Super Rentals website was created to explore the wonderful world <br>
   of Ember.js. This project allows us to imagine traveling the world while <br>
  simultaneously traversing the pathways of the Ember framework!</p>


{{#link-to 'contact'}} Click here to contact us. {{/link-to}}
>>>>>>> d33c8a888429fb71e716770bf9790a1eca9e0767
